:root {
  --bg-color: #222222;
  --bg-color-bars: rgb(255, 255, 255);
  --key-color: rgb(255, 255, 255);
  --hover-border-keys: rgb(6, 128, 228);
  --hover-bg-keys: rgb(0, 70, 128);
  --active-border-keys: rgb(196, 176, 0);
  --active-bg-keys: rgb(67, 6, 107);
  --play-again-btn-color: rgb(63, 128, 125);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}
body {
  background-color: var(--bg-color);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*app*/
.app {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  align-items: center;
}
.win-lose {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.win-lose-placeh {
  height: 50px;
  width: 100%;
}
.play-again {
  background-color: var(--play-again-btn-color);
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  font-size: 0.9rem;
  color: inherit;
  cursor: pointer;
  transition: filter 0.25s ease-in-out;
  text-shadow: 1px 1px 2px black;
}
.play-again:hover {
  filter: brightness(150%);
  box-shadow: 1px 1px 8px var(--play-again-btn-color);
}
/*drawing*/
.drawing-wrapper {
  position: relative;
}
.top-bar {
  height: 10px;
  width: 200px;
  margin-left: 120px;
  background-color: var(--bg-color-bars);
}
.mini-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 50px;
  background-color: var(--bg-color-bars);
}
.middle-bar {
  height: 400px;
  width: 10px;
  margin-left: 120px;
  background-color: var(--bg-color-bars);
}
.bottom-bar {
  height: 10px;
  width: 250px;
  background-color: var(--bg-color-bars);
}
.p-head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 6px solid var(--bg-color-bars);
  position: absolute;
  top: 50px;
  right: -20px;
}
.p-body {
  width: 10px;
  height: 100px;
  position: absolute;
  top: 100px;
  right: 0px;
  background-color: var(--bg-color-bars);
}
.r-arm {
  width: 100px;
  height: 8px;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
  background-color: var(--bg-color-bars);
}
.l-arm {
  width: 100px;
  height: 8px;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
  background-color: var(--bg-color-bars);
}
.r-leg {
  width: 100px;
  height: 8px;
  position: absolute;
  top: 190px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
  background-color: var(--bg-color-bars);
}
.l-leg {
  width: 100px;
  height: 8px;
  position: absolute;
  top: 190px;
  right: 0px;
  rotate: -60deg;
  transform-origin: right bottom;
  background-color: var(--bg-color-bars);
}
/*word*/
.word-wrapper {
  display: flex;
  gap: 0.25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}
.letter {
  border-bottom: 0.1em solid var(--bg-color-bars);
}
.v-visible {
  visibility: visible;
}
.v-hidden {
  visibility: hidden;
}
/*Keyboard*/
.keys-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 0.5rem;
}
.btn-key {
  width: 100%;
  border: 3px solid var(--bg-color-bars);
  background: none;
  color: var(--key-color);
  aspect-ratio: 1/1;
  font-size: 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-key:hover:not(:disabled),
.btn-key:focus {
  background-color: var(--hover-bg-keys);
  border: 3px solid var(--hover-border-keys);
}
.btn-key.active {
  background-color: var(--active-bg-keys);
  border: 3px solid var(--active-border-keys);
}
.btn-key.inactive {
  opacity: 0.3;
}
